h1{
	text-align: center;
	font-family: "Helvetica"; 
	font-weight: 200; 
	font-size: 40pt; 
	color:blue;
}
h2{
	text-align: center; 
	font-family: "Helvetica"; 
	font-weight: 200; 
	font-size: 30pt; 
	color:green;}
p{
	text-align: center; 
	font-family: "Helvetica"; 
	font-weight: 200; 
	font-size: 20pt; 
	color:gray;
}
svg { 
	background-color: #FFFFFF;
	padding:30px;
}
#canvas {
	display: block; 
	text-align: center;
	margin:30px;
	padding:30px;
}
.axis path { 
	fill: none; 
	stroke: black;
}
.axis line { 
	stroke: black; 
}
#slider{
	margin:auto;
}
.node{
	cursor:pointer;
}
.node.large{
	r:100px;
}

.adjustDate {
	cursor: pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background-color:#ff5bb0;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #ee1eb5;
	display:inline-block;
	color:#ffffff;
	font-family:Helvetica Neue, Helvetica, Arial;
	font-size:15px;
	font-weight:100;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #c70067;
}.adjustDate:hover {
	background-color:#ef027d;
}.adjustDate:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */

