h1{
	text-align: center;
	font-family: "Helvetica"; 
	font-weight: 200; 
	font-size: 40pt; 
	color:blue;
}
h2{
	text-align: center; 
	font-family: "Helvetica"; 
	font-weight: 200; 
	font-size: 30pt; 
	color:green;}
p{
	text-align: center; 
	font-family: "Helvetica"; 
	font-weight: 200; 
	font-size: 20pt; 
	color:gray;
}
svg { 
	background-color: #FFFFFF;
	padding:30px;
}
#canvas {
	display: block; 
	text-align: center;
	margin:30px;
	padding:30px;
}
.axis path { 
	fill: none; 
	stroke: black;
}
.axis line { 
	stroke: black; 
}
#slider{
	margin:auto;
}

