h1, h2, h3, h4, h5, h6, a, li, td{
	font-weight:200;
}
.button {
	font-weight: 100;
	font-weight: "Helvetica Neue";
}
h5{
	font-size: 14pt;
}
p{
	font-weight: 200;
}
#home{
	cursor: pointer;
}
#names{
	font-weight: 100;
	font-weight: "Helvetica Neue";
}
#left_bar{
	margin:5% 0 0 0;
}
#resetnodes{
	float:right;
}
.row.lesspadding{
	padding: 0 auto 0 auto;
	margin: 0 auto 0 auto;
}
.row.padding{
	margin: 5% 0 0 0;
}
#negative_margin{
	margin-top:-10%;
}
svg { 
	background-color: #FFFFFF;
	padding: 30px;
}
#canvas {
	display: block; 
	text-align: center;
    /*margin:30px;*/
	padding:30px;
}
.axis path { 
	fill: none; 
	stroke: black;
}
.axis line { 
	stroke: black; 
}
#slider{
	/*margin:auto;*/
	display: block; 
	text-align: center;
	margin: auto;
}
.node{
	cursor:pointer;
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}
.node.large{
	r:100px;
}
#popupBox{
	display: none;
	position: absolute;
	cursor: pointer;
	opacity:.8;
}

.node .popup {
  display: none;
}

.parent:hover .popup {
  display: block;
}
